@import '../../../../stylings/variables';

.account__table {
  box-shadow: none;
  border-bottom: 1px solid #E1E5EB;
}

.account__table-cell {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  display: table-cell;
  vertical-align: middle;

  .date-time {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;

    &__item {
      white-space: nowrap;
    }

    @media (max-width:1230px) {
      display: block;
    }
  }

  .flight-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-flight {
    color: #0090BD;
    line-height: 24px;
    font-weight: 700;
  }

  &-price {
    color: #7F8906;
  }

  .passengers {
    white-space: nowrap;
  }
}

.account__table-header {
  white-space: nowrap;

  @media (max-width: 768px) {
    font-size: 12px;
    line-height: 12px;
    padding: 0 5px;
  }
}

tr.account__table-row {
  transition: .3s;
  cursor: pointer;
  &:hover {
    background: $base-hover-color;
  }
}

.mdc-data-table__header-cell {
  padding: 0 0px 0 16px;

  @media (max-width: 1020px) {
    padding: 0 0px 0 5px;
  }
}
.mdc-data-table__cell {
  @media (max-width: 1020px) {
    font-size: 16px;
    line-height: 14px;
    padding: 0 5px;
  }
  @media (max-width: 885px) {
    font-size: 14px;
  }
  @media (max-width: 660px) {
    font-size: 12px;
  }
}

@media (max-width: 605px) {
  .account__table {
    padding: 10px;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .account__table-header,
  .mdc-data-table__header-row {
    display:none;
  }
  .account__table-cell {
    text-align: right;
    display: block;
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;

    &::before {
      content: attr(td-title);
      float: left;
    }
  }
}
