<div class="title">Keys</div>

<mat-card class="container keys">
  <div class="seat-keys">
    <div class="key">
      <div class="seat regular"></div>
      <div class="text">Regular</div>
    </div>
    <div class="key">
      <div class="seat reserved"></div>
      <div class="text">Selected</div>
    </div>
    <div class="key">
      <div class="seat disabled"></div>
      <div class="text">Already reserved</div>
    </div>
  </div>
</mat-card>
<mat-card class="container">
  <div
    class="seats"
    *ngFor="let seats of arraySeats;
    let i = index"
  >
   <div class="seat-column-letters">
    {{seatsNumbers[i]}}
   </div>
    <div
      class="seat-wrapper"
      *ngFor="let seat of seats;
      let k = index">
      <div
        [ngClass]="{hide: (i !== 2)}"
        class="seat-column-number">
        {{i === 2 ? k + 1 : ''}}
      </div>
      <div
        #elSeat
        appReserveSeat
        appSeatsStyle
        [passengerLength]="passengerLength"
        [elSeat]="elSeat"
        [seat]="seat"
        [k] = "k"
        class="seat">
        <span>{{seat}}</span>
      </div>
    </div>
  </div>
</mat-card>
