<div class="container">
  <mat-card class="card-seats">
    <div
      class="seats"
      *ngFor="let seats of arraySeats;
      let i = index"
    >
   <div class="seat-column-letters">
    {{seatsNumbers[i]}}
   </div>
    <div
      class="seat-wrapper"
      *ngFor="let seat of seats;
      let k = index">
      <div
        [ngClass]="{hide: (i !== 2)}"
        class="seat-column-number">
        {{i === 2 ? k + 1 : ''}}
      </div>
      <div
        #elSeat
        appReserveSeat
        [passengerLength]="passengerLength"
        [isRound]="isRound"
        [elSeat]="elSeat"
        [seat]="seat"
        [k] = "k"
        class="seat"
        [ngClass]="{
          'disabled': isRound
            ? reservedBack.includes(k+1 + seat)
            : reservedThere.includes(k+1 + seat)
          }"
      >
        <span>{{seat}}</span>
      </div>
    </div>
  </div>
  </mat-card>
</div>
