<div class="container">
  <div
    *ngIf="user$ | async as user"
    class="acccount__user-container">
    <app-user-avatar
      [gender]="user.gender"
      [userName]="user.firstName + ' ' + user.lastName"
    ></app-user-avatar>
    <app-user-info
      [birthDate]="user.date"
      [email]="user.email"
      [phone]="user.phone.number"
      [address]="user.citizenship"
    ></app-user-info>
  </div>
    <div class="account__table-title">
      Booked trips
    </div>
    <div class="account__table-container">
      <app-account-table></app-account-table>
    </div>
</div>

