<div class="footer">
  <div class="container">
    <div class="left">
      &copy; 2023, AIRWAY. All rights reserved.
    </div>
    <div class="right">
      <span>We accept these payment methods</span>
      <div class="right__icons">
        <img src="../../../../assets/icons/icon-mastercard.png" alt="icon-mastercard">
        <img src="../../../../assets/icons/icon-pay.png" alt="icon-pay">
        <img src="../../../../assets/icons/icon-american-express.png" alt="icon-american-express">
        <img src="../../../../assets/icons/icon-visa.png" alt="icon-visa">
      </div>
    </div>
  </div>
</div>
