<div class="container">
  <div class="title">
    <img class="title__img" src="assets/icons/summary-icon.svg" alt="summary">
    <span class="title__text">Summary</span>
  </div>
  <div class="summary-flight">
    <app-summary-trip
      [thereTrip]="thereTrip"
      [thereSeats]="thereSeats"
    ></app-summary-trip>
    <app-summary-trip
      *ngIf="!isOneTripWay"
      [isRound]="true"
      [backTrip]="backTrip"
      [backSeats]="backSeats"
    ></app-summary-trip>
  </div>

  <div class="total">
    <app-total></app-total>
  </div>

  <div class="wrapper-buttons">
    <button *ngIf="!isFromAccount"
      (click)="toPassengers()"
      class="back-button"
      mat-stroked-button
      color="primary"
    >Back</button>
    <button *ngIf="!isFromAccount"
      (click) = "addToCart()"
      class="cart-button"
      mat-stroked-button
      color="primary"
      [disabled]="isCartLoading$ | async"
    >Add to order cart</button>
    <button *ngIf="!isFromAccount"
      class="buy-button"
      mat-raised-button
      color="primary"
    >Buy now</button>
    <button *ngIf="isFromAccount"
      [routerLink]="['/account']"
      class="account-button"
      mat-raised-button
      color="primary"
    >Return to Account</button>
  </div>
</div>
