<table mat-table [dataSource]="dataSource" class="cart__table">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell class="cart__table-header" *matHeaderCellDef>
      <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td class="cart__table-select" mat-cell *matCellDef="let row">
      <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
    <td class="cart__table-footer cart__table-footer-empty" mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- No Column -->
  <ng-container matColumnDef="flightNo">
    <th mat-header-cell class="cart__table-header" *matHeaderCellDef mat-sort-header> No. </th>
    <td td-title="FlightNo: " class="cart__table-cell cart__table-cell-flight" [class.isSelected]="selection.isSelected(element)" mat-cell *matCellDef="let element"> {{element.flightNo}} </td>
    <td colspan="2" class="cart__table-footer cart__table-footer-addtrip" mat-footer-cell *matFooterCellDef>+ Add new trip</td>
  </ng-container>

  <!-- Flight Column -->
  <ng-container matColumnDef="flight">
    <th mat-header-cell class="cart__table-header" *matHeaderCellDef> Flight </th>
    <td td-title="Flight: " class="cart__table-cell" mat-cell *matCellDef="let element">{{element.flight[0]}} <br> {{element.flight[1]}} </td>
    <td class="cart__table-footer cart__table-footer-empty" mat-footer-cell *matFooterCellDef style="display: none;"></td>
  </ng-container>

  <!-- TripType Column -->
  <ng-container matColumnDef="typetrip">
    <th mat-header-cell class="cart__table-header" *matHeaderCellDef> Type trip </th>
    <td td-title="Type trip: " class="cart__table-cell" mat-cell *matCellDef="let element"> {{element.type === 'round'?'Round trip':'One way'}} </td>
    <td class="cart__table-footer cart__table-footer-empty" mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- DateTime Column -->
  <ng-container matColumnDef="datetime">
    <th mat-header-cell class="cart__table-header" *matHeaderCellDef> Date & Time </th>
    <td td-title="Date & Time: " class="cart__table-cell" mat-cell *matCellDef="let element"> {{element.date[0].thereDepartDate}} - {{element.date[0].thereArriveDate.split(' ')[1]}}  <br> {{element.date[1].backDepartDate}} - {{element.date[1].backArriveDate.split(' ')[1]}} </td>
    <td class="cart__table-footer cart__table-footer-empty" mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Passengers Column -->
  <ng-container matColumnDef="passengers">
    <th mat-header-cell class="cart__table-header" *matHeaderCellDef> Passengers </th>
    <td td-title="Passengers: " class="cart__table-cell" mat-cell *matCellDef="let element"> {{element.passengers[0]}} <br> {{element.passengers[1]}} <br> {{element.passengers[2]}} </td>
    <td class="cart__table-footer cart__table-footer-total" mat-footer-cell *matFooterCellDef>Total: </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell class="cart__table-header" *matHeaderCellDef> Price </th>
    <td td-title="Price: " class="cart__table-cell cart__table-cell-price" mat-cell *matCellDef="let element"> {{currencyService.moneyIcon}}{{(element.price * currencyService.moneyRatio).toFixed(1)}} </td>
    <td class="cart__table-footer cart__table-footer-price" mat-footer-cell *matFooterCellDef> {{currencyService.moneyIcon}}{{(cartService.getTotalPrice() * currencyService.moneyRatio).toFixed(1)}} </td>
  </ng-container>

  <!-- Edit menu button -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell class="cart__table-header" *matHeaderCellDef mat-sort-header> </th>                  
    <td mat-cell class="cart__table-edit" *matCellDef="let row">
       <button (click)="$event.stopPropagation()" class="cart__table-edit-button" mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="edit">
           <mat-icon>more_vert</mat-icon>
       </button>
       <mat-menu #appMenu="matMenu">
         <button mat-menu-item (click)="delete(row)">Delete</button>
         <button mat-menu-item>Edit</button>
       </mat-menu>  
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="cart__table-row" [class.isSelected]="selection.isSelected(row)" mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
  <tr mat-footer-row class="cart__table-footer cart__table-footer-empty" *matFooterRowDef="displayedColumns" class="cart__table-footer"></tr>
</table>
