<table mat-table [dataSource]="dataSource" class="cart__table">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- No Column -->
  <ng-container matColumnDef="flightNo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td class="cart__table-col cart__table-col-flight" mat-cell *matCellDef="let element"> {{element.flightNo}} </td>
    <td class="cart__table-footer cart__table-footer-addtrip" mat-footer-cell *matFooterCellDef>+ Add new trip</td>
  </ng-container>

  <!-- Flight Column -->
  <ng-container matColumnDef="flight">
    <th mat-header-cell *matHeaderCellDef> Flight </th>
    <td class="cart__table-col" mat-cell *matCellDef="let element">{{element.forward.flight}} <br> {{element.backward.flight}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- TripType Column -->
  <ng-container matColumnDef="typetrip">
    <th mat-header-cell *matHeaderCellDef> Type trip </th>
    <td class="cart__table-col" mat-cell *matCellDef="let element"> {{element.type}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- DateTime Column -->
  <ng-container matColumnDef="datetime">
    <th mat-header-cell *matHeaderCellDef> Date & Time </th>
    <td class="cart__table-col" mat-cell *matCellDef="let element"> {{element.forward.datetime}} <br> {{element.backward.datetime}}  </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Passengers Column -->
  <ng-container matColumnDef="passengers">
    <th mat-header-cell *matHeaderCellDef> Passengers </th>
    <td class="cart__table-col" mat-cell *matCellDef="let element"> {{element.passengers[0]}} <br> {{element.passengers[1]}} <br> {{element.passengers[2]}} </td>
    <td class="cart__table-footer cart__table-footer-total" mat-footer-cell *matFooterCellDef>Total</td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td class="cart__table-col cart__table-col-price" mat-cell *matCellDef="let element"> {{element.price}} </td>
    <td class="cart__table-footer cart__table-footer-price" mat-footer-cell *matFooterCellDef> {{cartService.getTotalPrice()}} </td>
  </ng-container>

  <!-- Edit menu button -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>                  
    <td mat-cell *matCellDef="let element">
       <button (click)="$event.stopPropagation()" class="cart__table-edit" mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="edit">
           <mat-icon>more_vert</mat-icon>
       </button>
       <mat-menu #appMenu="matMenu">
         <button mat-menu-item>Delete</button>
         <button mat-menu-item>Edit</button>
       </mat-menu>  
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns" class="cart__table-footer"></tr>
</table>
