<div
  class="header"
  [ngClass]="{isBooking: (headerService.isBooking$ | async) !== true}"
>
<div class="container">
  <div (click)="toMainPage()" class="header__logo">
    <div class="header__logo__img">
      <img
        src="../../../../assets/icons/logo.svg"
        alt="logo-icon"
      >
    </div>
    <div class="header__logo__title">airways</div>
  </div>
  <div class="wrapper-menu">
    <div
      [ngClass]="{showMenu: menuShow}"
      [ngClass]="{isBooking: (headerService.isBooking$ | async) !== true}"
      class="header__menu"
    >
    <div class="header__title">
      <div *ngIf="headerService.isBooking$ | async">Book flights</div>
      <div
        *ngIf="(headerService.isBooking$ | async) !== true
        && menuShow"
      >Book flights</div>
      <button
      (click)="menuShow = false"
        class="button button_menu"
      >
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <button
      [matMenuTriggerFor]="menuFormatDate"
      class="button header__format-date"
    >
      <span
        class="header__format-date__title"
        [ngClass]="{isBooking: (headerService.isBooking$ | async) !== true}"
      >{{formatDate$ | async}}</span>
      <mat-icon
        class="header__format-date__drop-down"
        [ngClass]="{isBooking: (headerService.isBooking$ | async) !== true}"
      >arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menuFormatDate="matMenu">
        <button
          *ngFor="let date of formatService.formatDate"
          (click)="formatService.switchFormatDate(date.id)"
          mat-menu-item
          style=" display: flex; flex-direction: row-reverse;"
        >
          <span style="font-size: 14px;">{{date.text}}</span>
          <mat-icon
            style="transform: translate(18px); color:#11397E"
          >{{date.done}}</mat-icon>
        </button>
    </mat-menu>
    <button
      [matMenuTriggerFor]="menuFormatMoney"
      class="button header__format-money"
      [ngClass]="{isBooking: (headerService.isBooking$ | async) !== true}"
    >{{formatMoney$ | async}}</button>
    <mat-menu #menuFormatMoney="matMenu">
      <button
        *ngFor="let money of formatService.formatMoney"
        mat-menu-item
        (click)="formatService.switchFormatMoney(money.id)"
      >{{money.text}}</button>
    </mat-menu>
    <button class="button header__button-login">
      <mat-icon
        [ngClass]="{isBooking: (headerService.isBooking$ | async) !== true}"
        class="header__button-login__img"
      >person</mat-icon>
      <div
        [ngClass]="{isBooking: (headerService.isBooking$ | async) !== true}"
        class="header__button-login__title"
      >Sign in</div>
    </button>
  </div>
  <div class="button-wrapper">
    <button class="button header__basket">
      <img
        class="header__basket__img"
        src="../../../../assets/icons/basket.svg"
        [src]="
          (headerService.isBooking$ | async)
          ? '../../../../assets/icons/basket.svg'
          : '../../../../assets/icons/basket-booking.svg'
        "
        alt="basket"
      >
    </button>
    <button
      (click)="menuShow = true"
      class="button button_menu"
      [ngClass]="{isBooking: (headerService.isBooking$ | async) !== true}"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  </div>
</div>
</div>
