<div class="header">
<div class="container">
  <div (click)="toMainPage()" class="header__logo">
    <div class="header__logo__img">
      <img
        src="../../../../assets/icons/logo.svg"
        alt="logo-icon"
      >
    </div>
    <div class="header__logo__title">airways</div>
  </div>
  <div class="header__menu">
    <div class="header__title">Book flights</div>
    <button
      [matMenuTriggerFor]="menuFormatDate"
      class="button header__format-date"
    >
      <span class="header__format-date__title">{{valueDate}}</span>
      <mat-icon class="header__format-date__drop-down">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menuFormatDate="matMenu">
        <button
          *ngFor="let date of formatDate"
          (click)="switchFormatDate(date.id)"
          mat-menu-item
          style=" display: flex; flex-direction: row-reverse;"
        >
          <span style="font-size: 14px;">{{date.text}}</span>
          <mat-icon
            style="transform: translate(18px); color:#11397E"
          >{{date.done}}</mat-icon>
        </button>
    </mat-menu>
    <button
      [matMenuTriggerFor]="menuFormatMoney"
      class="button header__format-money"
    >{{valueMoney}}</button>
    <mat-menu #menuFormatMoney="matMenu">
      <button
        *ngFor="let money of formatMoney"
        mat-menu-item
        (click)="switchFormatMoney(money.id)"
      >{{money.text}}</button>
    </mat-menu>
    <button class="button header__button-login">
      <img class="header__button-login__img"
        src="../../../../assets/icons/button-login-user-icon.svg"
        alt="user-icon-button"
      >
      <div class="header__button-login__title">Sign in</div>
    </button>
    <button class="button header__basket">
      <img
        class="header__basket__img"
        src="../../../../assets/icons/basket.svg"
        alt="basket"
      >
    </button>
  </div>
</div>
</div>
