$logo-color: #11397E;

$base-primary-color: #3f51b5;

$text-light-color: #ffffff;
$text-average-color: #808080;
$text-dark-color: #000000;
$text-secondary-color: #0090BD;;

$light-color: #ffffff;
$average-color: #808080;
$dark-color: #000000;

$header-background-color: #74767a33;

$button-background-color:#f1f3f626;
$button-border-color: #CECECE;
$button-hover-color: #e0e0e0;

$footer-border-color: #D0D9DF;

$base-hover-color: #f5f5f5;

$text-error-color: #ff0000;
$text-warning-color: #ffa500;
$text-success-color: #008000;

$select-hover-color: #ebe7e7;
$select-focus-color: #ebe7e7;
$select-border-color: #808080;

$change-destination-border-color: #D0D9DF;
