@import '../../../../stylings/variables';


.form {
  margin-bottom: 102px;

  .main-title {
    display: flex;
    gap: 12px;
    width: 200px;
    height: fit-content;
    align-items: center;
    margin-top: 40px;
    white-space: nowrap;

    .icon {
      color: $logo-color;
    }
  }

  .subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: $text-average-color;
  }

  .form-group-wrapper {
    margin-top: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 44px;
    padding-right: 44px;
    width: 100%;
  }

  .form-group {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    gap: 20px;

    mat-form-field {
      width: 100%;
    }
  }

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $logo-color;
  }

  .slide-toggle {
    margin-top: 24px;
    display: flex;
    height: 30px;
    align-items: center;
    gap: 6px;
  }
}

.button-toggle {
  width: 100%;
  display: inline-flex;
  align-items: center;
  transform: translateY(-10px);

  .button {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .mat-button-toggle-checked {
    color: $base-primary-color;
  }
}

.wrapper-buttons {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 40px;
  margin-right: 0;

  button {
    width: 126px;
    height: 60px;
  }
}
