@import '../../../../stylings/variables';


.button-toggle {
  width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

  .button {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
  }

  .mat-button-toggle-checked {
    color: $base-primary-color;
  }
}
