:host {
  display: block;
  position: absolute;
  z-index: 2;
  top: calc(10% + 88px);
  left: 20%;
}

.form {
  width: 580px;
  padding-left: 24px;
  padding-right: 24px;

  .ratio-group {
    margin-top: 14px;
    width: 303px;
    height: 48px;
    display: flex;
    justify-content: space-between;
  }

  .autocomplete-group {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    height: fit-content;

    .autocomplete {
      margin-bottom: -15px;
    }

    .change-destination {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: calc(50% - 5px);
      right: 20px;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      z-index: 9999999999999999999;
      background: #FFFFFF;
      border: 0.5px solid rgba(116, 118, 122, 0.6);
      transition: .5s;

      &:hover {
        background: whitesmoke;
      }
    }
  }

  .date-passenger {
    margin-top: 28px;
    display: flex;
    gap: 20px;
    width: 100%;

    .date {
      width: 60%;
    }

    .passenger {
      position: relative;
      width: 40%;
      height: 56px;
      background: whitesmoke;
      border-radius: 3px 3px 0 0;
      border-bottom: 1px solid grey;

      &.focus {
        border-bottom: 2px solid #3f51b5 !important;
        background: rgb(235, 231, 231);
      }

      &__placeholder {
        color: grey;
        margin-top: 20px;
        margin-left: 16px;
        transition: .1s;
        word-wrap:initial;
        -webkit-line-clamp: none;
        overflow: hidden;

        &.active {
          font-size: 12px;
          font-weight: 400;
          color: #3f51b5;
          margin-top: 10px;
        }
      }

      &:hover {
        border-bottom: 0.5px solid rgb(12, 12, 12);
        background: rgb(235, 231, 231);
      }

      .arrow {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }

      &__options {
        position: absolute;
        top: 57px;
        width: 100%;
        background: #fff;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }

      &__option {
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__value {
          margin-left: 15px;
        }

        .view {
          color: #3f51b5;
        }

        .description {
          color: grey;
          font-size: 12px;
        }

        &__buttons {
          display: flex;
          align-items: center;
          width: 100px;
          margin-right: 15px;
          justify-content: space-between;

          .counter {
            width: 40px;
            height: 40px;
            background: transparent;
            border: none;
            font-size: 20px;
            border-radius: 50%;
            cursor: pointer;

            &:hover{
              background: rgb(238, 231, 231);
            }
          }
        }
      }
    }
  }

  .button-search {
    margin-top: 32px;
    width: 126px;
    height: 60px;
    margin-bottom: 24px;
  }
}
