:host {
  display: block;
  position: absolute;
  z-index: 2;
  top: calc(10% + 88px);
  left: 20%;
}

.form {
  width: 580px;
  padding-left: 24px;
  padding-right: 24px;

  .ratio-group {
    margin-top: 14px;
    width: 303px;
    height: 48px;
    display: flex;
    justify-content: space-between;
  }

  .autocomplete-group {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    height: fit-content;

    .autocomplete {
      margin-bottom: -15px;
    }

    .change-destination {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: calc(50% - 5px);
      right: 20px;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      z-index: 9999999999999999999;
      background: #FFFFFF;
      border: 0.5px solid rgba(116, 118, 122, 0.6);
      transition: .5s;

      &:hover {
        background: whitesmoke;
      }
    }
  }

  .date-passenger {
    margin-top: 28px;
    display: flex;
    gap: 20px;
    width: 100%;
  }

  .button-search {
    margin-top: 32px;
    width: 126px;
    height: 60px;
    margin-bottom: 24px;
  }
}
