<div class="container">
  <button class="prev" (click)="prev()">prev</button>
  <button class="next" (click)="next()">next</button>
 <div class="calendar">
  <div #daysWrapper class="days">
    <div
      *ngFor="let day of prevMonthDays,
      let i = index"
      class="days__prev">
      {{day}} {{months[date.getMonth() - 1]}}
    </div>
    <div
      *ngFor="let day of monthDays,
      let i = index"
      class="days__curr">
      {{day}} {{months[date.getMonth()]}}
    </div>
    <div
      *ngFor="let day of nextMonthDays,
      let i = index"
      class="days__next">
      {{day}} {{months[date.getMonth() + 1]}}
    </div>
  </div>
 </div>
</div>
