@import '../../../../stylings/variables';

:host {
  position: relative;
  width: 60%;
  @media(max-width:610px) {
    width: 100%;
  }
}

.date {
  width: 100%;
}

.error-message {
  left: 18px;
  height: 20px;
  bottom: 3px;
  position: absolute;
  small {
    margin-top: 4px;
    display: block;
    color: $text-error-color;
    font-size: 12px;
    position: relative;
  }
}
