:host {
  width: 40%;
  height: 56px;
}

.passenger {
  position: relative;
  width: 100%;
  height: 56px;
  background: whitesmoke;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid grey;

  &.focus {
    border-bottom: 2px solid #3f51b5;
    background: rgb(235, 231, 231);

    &:hover {
      border-bottom: 2px solid #3f51b5;
    }
  }

  &:hover {
    border-bottom: 0.5px solid rgb(12, 12, 12);
    background: rgb(235, 231, 231);
  }

  &__placeholder {
    color: grey;
    padding-top: 20px;
    padding-left: 16px;
    transition: .1s;
    word-wrap:initial;
    -webkit-line-clamp: none;
    overflow: hidden;

    &.active {
      font-size: 12px;
      font-weight: 400;
      color: #3f51b5;
      padding-top: 10px;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &__options {
    position: absolute;
    top: 57px;
    width: 100%;
    background: #fff;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  &__option {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__value {
      margin-left: 15px;
    }

    .view {
      color: #3f51b5;
    }

    .description {
      color: grey;
      font-size: 12px;
    }

    &__buttons {
      display: flex;
      align-items: center;
      width: 100px;
      margin-right: 15px;
      justify-content: space-between;

      .counter {
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
          background: rgb(238, 231, 231);
        }
      }
    }
  }
}
