@import '../../../stylings/variables';

.container {
  margin: 90px auto;

  @media (max-width: 768px) {
    width: 90%;
    border: none;
    overflow: hidden;
  }

}

.cart__main-title {
  margin: 30px ;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 28px;
  color: $logo-color;
}

.cart__bottom-panel {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.cart__bottom-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #74767A;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 45px;
}

.cart__bottom-payment {
  width: 126px;
  height: 60px;
}

@media (max-width: 570px) {
  .cart__bottom-panel {
    flex-direction: column;
    align-items: center;
  }

  .cart__bottom-right {
    justify-content: space-between;
    padding-bottom: 10px;
  }
}
