<div
  class="date"
  [ngClass]="{unActive: !day.price}"
>
  {{
    calendarService.getDate(
      day.day,
      date.getMonth() + numMonth,
      date.getFullYear().toString()
    ) | date: 'dd MMM'
  }}
</div>
<div
  class="day-of-week"
  [ngClass]="{unActive: !day.price}"
>
  {{
    calendarService.dayOfWeek(
      day.day,
      date.getMonth() + numMonth,
      date.getFullYear().toString())
  }}
</div>
<div
  *ngIf="day.price; else noFlight"
  class="price">
   <span class="price__format">{{money}}</span>
   <span class="price__value">{{day.price}}</span>
</div>
<ng-template #noFlight>
    <mat-icon class="no-flight">airplanemode_inactive</mat-icon>
</ng-template>
