@import '../../../../stylings/variables';

:host {
  width: 100%;
}

.summary {
  width: 100%;
  margin-top: 28px;
  border-top: 3px solid $logo-color;
  background: #F1F3F6;
  display: flex;
  flex-direction: column;
  gap: 2px;

  .title-block {
    padding: 20px 24px;
    height: 100px;

    @media (max-width: 450px) {
      height: 125px;
    }

    .number-destination,
    .date-time {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .number-destination {
      @media (max-width: 450px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
    }

    .number,
    .destination {
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.5px;
      color: $logo-color;

      @media (max-width: 450px) {
        font-size: 16px;
      }
    }

    .destination {
      color: $text-dark-color;
    }

    .date-time {
      gap: 36px;
      margin-top: 8px;

      @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
      }
    }

    .date,
    .time {
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }
}
