<div
  appSelectValidate
  [ngClass]="{focus: selectService.isChoiceInput}"
  class="passenger"
  appearance="fill"
>
<div
  [ngClass]="{active: selectService.isChoiceInput}"
  class="passenger__placeholder"
  >
    {{selectService.placeholder}}
</div>
<mat-icon class="arrow">arrow_drop_down</mat-icon>
<div
  *ngIf="selectService.isChoiceInput"
  class="passenger__options"
>
  <div
    class="passenger__option"
    *ngFor="let item of selectService.passengers"
  >
    <div class="passenger__option__value">
      <p class="view">{{item.view}}</p>
      <p class="description">{{item.description}}</p>
    </div>
    <div class="passenger__option__buttons">
      <button
        class="counter"
        (click)="selectService.decrement(item.id)"
      >-</button>
      <div>{{item.value}}</div>
      <button
        class="counter"
        (click)="selectService.increment(item.id)"
      >+</button>
    </div>
  </div>
</div>
</div>
<div
  class="error-message"
  *ngIf="!selectService.isChoiceInput && selectService.count === 2"
>
  <small *ngIf="!selectService.isValidate">
    Please select passengers
  </small>
</div>
