<div
  [ngClass]="{choiceTrip: !choiceTrip}"
  class="calendar">
  <button class="prev-button" (click)="prev()"><</button>
  <button class="next-button" (click)="next()">></button>
  <div #daysWrapper class="days">
    <app-one-date
      appSeatsCount
      (click)="changeTrip(i, prevMonthDays)"
      *ngFor="let day of prevMonthDays,
      let i = index"
      class="days__item"
      [day] = "day"
      [date] = "date"
      [numMonth] = "-1"
      [isRound]="isRound"
    >{{day | json}}</app-one-date>
    <app-one-date
      appSeatsCount
      (click)="changeTrip(i, monthDays)"
      *ngFor="let day of monthDays,
      let i = index"
      class="days__item"
      [day] = "day"
      [date] = "date"
      [numMonth] = "0"
      [isRound]="isRound"
    ></app-one-date>
    <app-one-date
      appSeatsCount
      (click)="changeTrip(i, nextMonthDays)"
      *ngFor="let day of nextMonthDays,
      let i = index"
      class="days__item"
      [day] = "day"
      [date] = "date"
      [numMonth] = "1"
      [isRound]="isRound"
    ></app-one-date>
  </div>
 </div>
 <app-select-trip
  (onSelectEvent)="onSelectEvent($event)"
  *ngIf="isTripObject"
  [isRound]="isRound"
  [selectTrip]="selectTrip"
></app-select-trip>
