<mat-card
  *ngIf="calendarService.trip$ | async as trip"
  class="trip"
>
  <div class="trip__info">
    <div class="from">
      <div class="from__date">{{dateDepart | date}}</div>
      <div class="from__time">
        8:40 <span>UTC +0</span>
      </div>
      <div class="from__location">Dublin</div>
    </div>

    <div class="flight-time">
        <div class="line"></div>
        <div class="time-info">
          <span>{{getTime}}</span>
          <img src="../../../../assets/icons/to-plane.svg" alt="">
          <span>Direct</span>
        </div>
        <div class="line"></div>
    </div>

    <div class="to">
      <div class="to__date">{{dateArrive | date}}</div>
      <div class="to__time">
        12:00 <span>UTC +0</span>
      </div>
      <div class="to__location">Warsaw Modlin</div>
    </div>
  </div>
  <div class="flight-number">
    <span>Flight no.</span> <span>{{trip.flightNo}}</span>
  </div>
  <div class="dotted"></div>
  <div class="trip__select">
    <div class="select">
      <div class="seats">{{trip.seats}} seats<br>available</div>
      <div class="price">
        <div class="price__text">Price</div>
        <div class="price__value">€{{trip.price}}</div>
      </div>
    </div>
    <div class="button">
      <button mat-raised-button color="primary">Select</button>
    </div>
  </div>
</mat-card>
